{% extends 'patient/patient_base.html' %}
{% load static %}
{% block content %}  
  <body>
    <style>
      .badge-opacity-primary {
        background-color: #007bff; 
        color: white; 
        padding: 0.5em 1em; 
        border-radius: 0.25rem; 
    }
    </style>
    
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
   {% include 'patient/patient_nav.html'%}

   <div class="col-lg-9 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        </p>
        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Department</th>
                <th>Doctor Name</th>
                <th>Contact</th>
    
              </tr>
            </thead>
            <tbody>
              {% for d in doctors %}

              <tr>
                <td>{{d.department}}</td>
                <td> {{d.get_name}}</td>
                <td><a href="{% url 'contact' %}"><div class='badge badge-opacity-primary'>Contact</div></a></td>
              </tr>
              {% endfor %}
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </body>
  {% endblock %}
