{% extends 'patient/patient_base.html' %}
{% load static %}
{% block content %}
<body class="with-welcome-text">
    <div class="container-scroller">
   {% include 'patient/patient_nav.html' %}
   <div class="col-md-3 col-lg-3">
</div>

   <div class="col-md-6 col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Change Password</h4>
        <p class="card-description"></p>
        <form class="forms-sample material-form bordered" action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input type="password" required="required" name="old_password"/>
            <label for="input" class="control-label">Old Password</label><i class="bar"></i>
          </div>
          <div class="form-group">
            <input type="password" required="required" name="new_password1"/>
            <label for="input" class="control-label">New Password</label><i class="bar"></i>
          </div>
          <div class="form-group">
            <input type="password" required="required" name="new_password2" />
            <label for="input" class="control-label">Confirm Password</label><i class="bar"></i>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked="checked" /><i class="helper"></i>Remember me </label>
          </div>
          <div class="button-container">
            <button type="button" class="button btn btn-primary"><span>Submit</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 grid-margin stretch-card">
  </div>
</body>
{% endblock %}