{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <!-- plugins:css -->
	<link rel="stylesheet" href="{% static 'web/vendors/feather/feather.css' %}">
	<link rel="stylesheet" href="{% static 'web/vendors/mdi/css/materialdesignicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'web/vendors/ti-icons/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'web/vendors/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'web/vendors/typicons/typicons.css' %}">
	<link rel="stylesheet" href="{% static 'web/vendors/simple-line-icons/css/simple-line-icons.css' %}">
	<link rel="stylesheet" href="{% static 'web/vendors/css/vendor.bundle.base.css' %}">
	<link rel="stylesheet" href="{% static 'web/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'web/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web/js/select.dataTables.min.css' %}">

<link rel="stylesheet" href="{% static 'web/css/style.css' %}">
<!-- endinject -->
<link rel="shortcut icon" href="{% static 'assets/img/cover.png' %}">
  </head>
   {% block content %}{% endblock %}
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
        
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'web/vendors/js/vendor.bundle.base.js'%}"></script>
    <script src="{% static 'web/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js'%}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'web/vendors/chart.js/chart.umd.js'%}"></script>
    <script src="{% static 'web/vendors/progressbar.js/progressbar.min.js'%}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'web/js/off-canvas.js'%}"></script>
    <script src="{% static 'web/js/template.js'%}"></script>
    <script src="{% static 'web/js/settings.js'%}"></script>
    <script src="{% static 'web/js/hoverable-collapse.js'%}"></script>
    <script src="{% static 'web/js/todolist.js'%}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'web/js/jquery.cookie.js'%}" type="text/javascript"></script>
    <script src="{% static 'web/js/dashboard.js'%}"></script>
    <!-- <script src="assets/js/Chart.roundedBarCharts.js"></script> -->
    <!-- End custom js for this page-->
  </body>
</html>