{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% block content %}
<form action="" method="post">
  {% csrf_token %}
<section class="h-100 h-custom gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration">
            <div class="card-body ">
              <div class="row g-0">
                <div class="col-lg-3  text-white">
                     </div>
              
                <div class="col-lg-6 bg-indigo text-white">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5">Login</h3>
  
   

                    <div class="mb-4">
                      <div data-mdb-input-init class="form-outline form-white">
                        <input type="text" id="form3Examplea9" class="form-control form-control" name="username"/>
                        <label class="form-label" for="form3Examplea9">User Name</label>
                      </div>
                    </div>

                    <div class="mb-4">
                        <div data-mdb-input-init class="form-outline form-white">
                          <input type="password" id="form3Examplea9" class="form-control form-control" name="password"/>
                          <label class="form-label" for="form3Examplea9">Password</label>
                        </div>
                      </div>
  
                    

                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                        Don't you  have an account <hr><hr><br> <a href="{% url 'admin_signup_view' %}" class="text-white"><u style="color: black;">Sign-up</u></a> 
                    </div>

                    
                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                        Forgot your password <hr><hr><br> <a href="{% url 'admin_forgot_password' %}" class="text-white"><u style="color: black;">Click Here</u></a> 
                    </div>
  
  
  
                    <input  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg"
                      data-mdb-ripple-color="dark" value="Login">
  
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <style>
    @media (min-width: 1025px) {
      .h-custom {
      height: 100vh !important;
      }
      }
      .card-registration .select-input.form-control[readonly]:not([disabled]) {
      font-size: 1rem;
      line-height: 2.15;
      padding-left: .75em;
      padding-right: .75em;
      }
      .card-registration .select-arrow {
      top: 13px;
      }
      
      .gradient-custom-2 {
      /* fallback for old browsers */
      background: white;
      
      /* Chrome 10-25, Safari 5.1-6 */
      
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      
      .bg-indigo {
      background-color: #1a76d1;
      }
      @media (min-width: 992px) {
      .card-registration-2 .bg-indigo {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      }
      }
      @media (max-width: 991px) {
      .card-registration-2 .bg-indigo {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      }
      }
  </style>
  {% if messages %}
  <ul>
      {% for message in messages %}
      <script>alert('{{message}}')</script>
      {% endfor %}
  </ul>
{% endif %}
{% endblock %}

